:root {
  font-family: sans-serif;
}

.board-container {
  display: flex;
  justify-content: center;
}

.board {
  margin: 3rem;
  min-width: 300px;
  max-width: 1000px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 0;
}

.board .cell {
  aspect-ratio: 1;
  min-width: 2rem;
  font-size: 1em;
}

.new-game-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-game-form-container h2 {
  text-align: center;
  font-size: 4rem;
}

.new-game-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new-game-form input,
.new-game-form button {
  padding: 1rem;
  font-size: 2rem;
}
